@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100&family=My+Soul&family=Orelega+One&family=Permanent+Marker&display=swap');

body{
	margin: 0px;
	font-family: 'Anek Telugu', sans-serif;
}
.header{

}
.intro{
	background-color: lightgrey;
    padding: 10px;
}
.navbar{
    background-color: lightblue;
    padding: 10px;

}

.navbar > ul{
    /*margin-left: 350px;*/
}

.navbar :hover {
	color: black;
	text-decoration: none;
}
.navbar > ul > center > li {
	display: inline;
	padding: 20px;
}
/*header section end*/

 #title{
   font-family: 'Permanent Marker', cursive;

 }

/*End Title font*/

.container{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}
.row{
    width: 60%;
}
/*End of image and name*/
.container2{
    /*display: flex;*/
}
.row2{
     width: 100%;
     border: 2px solid black;
     margin-bottom: 10px;
}
.row2 > .image{
	 display: flex;
}
.row2 > .image >  img{
	 margin-left: 120px;
	 padding: 10px;
}
.info{
	display: flex;
}
 
.info > .p1{
	margin-left: 95px;
}
.info > .p2{
	margin-left: 90px;
}
.info > .p3{
	margin-left: 60px;
}
.row3{
    display: flex;
	margin-top: 10px;
}
.row3 > .section1{
    width: 50%;
	/*border-right: 1px solid black;*/
	padding: 10px;
}
.row3 > .section1 > h3{
	font-size:30px;
}
.row3 > .section1 > h4{
	 color: black; 
	 text-align: justify;
     margin-top: -20px;
}
.row3 > .section2{
    width: 50%;
	padding: 10px;
}
.row3 > .section2 > h3{
	font-size:30px;
}
.row3 > .section2 > h4{
	 color: black; 
	 text-align: justify; 
	 margin-top: -20px;
}
/*End Of About Us*/

.row5{
    display: inline-block;
}

.row5 > .multiblog {
     margin-bottom: 10px;
     display: flex;
}

.row5 > .multiblog > .blogimg{

}

.row5 > .multiblog > .blogimg > img {

}

.row5 > .multiblog > .bloginfo{
    margin-left: 10px;
    margin-top: -15px;
}

.row5 > .multiblog > .bloginfo > h3{
	font-size: 30px;
	margin-top: -2px;
}
.row5 > .multiblog > .bloginfo > h4 {
	margin-top: -20px;
}

.row6{
	width: 100%;
}

.row6 > img {
	margin-left: 40px;
}
.row7{
font-family: 'Orelega One', cursive;

}
/*End Gallery*/
 .row7 {

        }
        .row7 > form {
            padding: 30px;
            width: fit-content;
            margin-left: 20%;
            color: black;

        }
        .row7 > form > table > tbody > tr > td > p {

        }
        .row7 > form > table > tbody > tr > td > input{
            padding: 10px;
            outline: none;
            color: black;
            border: none;
            background-color: ;
            border: 2px solid black;
            border-radius: 10px;
            width: 500px;
        }
        .row7 > form > table > tbody > tr > td > button{
            padding: 10px;
            margin-left: 80px;
            margin-top: 10px;
            background: lightgreen;
            color: black;
            width: 500px;
            border: none;
            cursor: pointer ;
            border-radius: 20px;
        }
        .row7 > form > table > tbody > tr > td > textarea {
        height:100px; 
        border-radius: 10px;
        width: 515px;
        border: 2px solid black;
    }

    /*End COntact me*/

    .footer {
    	margin: 0px;
    	margin-top: -10px;
    	background-color: lightyellow;
    }

    .row8{
    	padding: 10px;
    	margin-top: 10px;
    	display: flex;
    	margin-left: 250px;
    }

 
    .divide1{

    	width: 30%;
    }
    .divide2{
    	width: 30%;
    }
    .divide3{
    	width: 30%;
    }